#container{
    display: flex;
    justify-content: center;
}

#container-main{
    height: 500px;
    width: 300px;
    background-color: burlywood;
    border-radius: 20%;
    border: 5px solid black;
    margin-top: 50px;
}

#screen{
    display: flex;
    justify-content: center;

}

#src{
    background-color: blanchedalmond;
    height: 50px;
    width: 250px;
    border-radius: 15%;
    border: 5px solid black;
    margin-top: 50px;
    color:black;
    font-style: italic;
    font-size: xx-large;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 18ch;
    
}

#buttons1{
    display: flex;
    justify-content: center;

}


#buttons2{
    height: 350px;
    width: 250px;
    border-radius: 15%;
    border: 5px solid black;
    margin-top: 10px
   
}



#but1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 25px;
}

#but2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 25px;
    
}

#but3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 25px;
}

#but4{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 25px;
}

.calci_button{
    background-color: black;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 15%;
    font-size: 14px;

}